/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.6vw;
}
html::-webkit-scrollbar-thumb{
    background-color: rgb(214, 206, 206);
    border-radius: 20px;
    transition:all 0.3s ease-in-out;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
::selection{
    color: white;
    background-color: #F8A218;
}
::-moz-selection{
    color: white;
    background-color: #F8A218;
}

.display{
    display: flex !important;
}
.hidden{
    display: none;
}
.disable-scroll{
    overflow-y: hidden !important;
}